# Ignoruj środowisko wirtualne
venv/

# Ignoruj ustawienia Streamlit
.streamlit/secrets.toml

data/
!data/recipes.json
!data/ingredients.json


# Inne potencjalne pliki do ignorowania
*.pyc
__pycache__/
